@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg-main: #0f172a;
  --bg-surface: #1e293b;
  --bg-surface-light: #334155;

  --border-main: #334155;
  --border-light: #475569;

  --text-main: #e2e8f0;
  --text-heading: #ffffff;
  --text-muted: #94a3b8;

  --brand-primary: #2563eb;
  --brand-secondary: #3b82f6;
  --brand-glow: rgba(30, 64, 175, 0.5);

  --status-critical: #ef4444;
  --status-warning: #eab308;
  --status-success: #22c55e;
  --status-dim: #9ca3af;
} */

/* Light Mode */
/* @media (prefers-color-scheme: light) { */
  :root {
    --bg-main: #f8fafc;
    --bg-surface: #ffffff;
    --bg-surface-light: #f1f5f9;

    --border-main: #e2e8f0;
    --border-light: #cbd5e1;

    --text-main: #1e293b;
    --text-heading: #0f172a;
    --text-muted: #64748b;
    --text-secondary: #ffffff;

    --brand-primary: #2563eb;
    --brand-secondary: #3b82f6;
    --brand-glow: rgba(59, 130, 246, 0.2);

    --status-critical: #ef4444;
    --status-warning: #eab308;
    --status-success: #22c55e;
    --status-dim: #9ca3af;
  }
/* } */

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}